<a href="https://colab.research.google.com/github/sammoody907/sammoody907/blob/main/Beginner's_python_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

Double quotes lets Python know it is dealing with text data

In [2]:
print("Hello World")

Hello World

You can have multiple inputs within brackets by separating them with a comma

In [3]:
print("Here is the answer for fifteen times 5:", 15*5)

Here is the answer for fifteen times 5: 75

In [4]:
print("My name is Samuel")

My name is Samuel

In [5]:
print("Orange","Blue","Purple")

Orange Blue Purple

In [6]:
print(26*66+13)

1729

In [7]:
print(6804/162)

42.0

Below is how to do to the power of

In [8]:
print(2**8)

256

In [9]:
print("4+6")

4+6

NameError: ignored

**Variables**

A variable is essentially a way of naming a particular bit of data so that we can reference it later

The symbol ‘=’ means take the data on the right and assign that to the name on the left

Still need to use quotes when wanting to create variables based on text data

Once you’ve created a variable, it will continue to exist until you have closed your browser or manually deleted the variable

In [12]:
favourite_food = "Chicken"

In [13]:
print("My favourite food is", favourite_food)

My favourite food is Chicken

In [14]:
print("My favourite food is", "favourite_food")

My favourite food is favourite_food

In [15]:
name = "Samuel"

In [16]:
age = 22

In [17]:
print ("Hi, my name is", name, "and I am", age)

Hi, my name is Samuel and I am 22

In [18]:
print ("In 5 years' time, I will be", age+5)

In 5 years' time, I will be 27

**Manipulating variables**

Python will only remember the last value that you assigned to a variable

The act of giving a variable a new value is known as overwriting or overriding - therefore, the order in which your code cells are run is important

In [22]:
hobby = "football"

In [21]:
hobby = "tennis"

In [23]:
print ("I like to play", hobby)

I like to play football

See numbers in brackets to show order in which cells were run

Runtime --> Run before = runs everything before the cell you are currently selecting

In [24]:
small_number = 2

In [25]:
big_num = 100* small_number

In [26]:
print (big_num, "is", big_num/small_number, "times bigger than", small_number)

200 is 100.0 times bigger than 2

Can define a new variable by manipulating the value of an existing variable

You can even replace the current value of a variable with a new value based on an old one

In [27]:
number = 7

In [28]:
number = number *3

In [29]:
print(number)

21

*be careful* - the second line just assigns the value 2 to y, it doesn't create a relationship between y and x

In [30]:
x=2
y=x
x=3
print(y)

2

**Variable Types**

Strings - text in quotes, called strings because they are a string of characters

Integers

Floats - decimal numbers, called floats because of how Python stores them - *floating point arithmetic*

Other data types we will discover in future sessions

In [31]:
print(type(number))

<class 'int'>

In [32]:
print(type(name))

<class 'str'>

Python tries to guess the type for you - often correct, but may need to correct type if it is wrong

In [33]:
print(type("Samuel"))

<class 'str'>

We can do the above, because when Python sees name, it just replaces it with Samuel and returns the type of this bit of data

In [34]:
type(name)

str

In [ ]:
type("Samuel")

You can use the functions int() float () and str() to convert between types, providing that it is possible to make a conversion - otherwise you'll get an error

In [36]:
string_to_convert = "10"

In [37]:
converted_string = int(string_to_convert)

In [38]:
type(converted_string)

int

Converting below won't work, as Python can't do anything with this value, as opposed to being able to recognise 10 as an integer

In [40]:
anotherstring_to_convert = "This is crazy bro"
print(type(anotherstring_to_convert))

<class 'str'>

In [41]:
anotherconvert = int(anotherstring_to_convert)

ValueError: ignored

**Functions**

A function is basically a command that has some sort of an output, a way of getting Python to do something

Typically, separate inputs by commas and function will start with lowercase letter (typically)

print(), type(),  str(),  int(), float() are all examples of functions

In [43]:
 x = 2
 y = 2.0
 z = "2"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

Computers are very literal. Therefore, despite 2.0 clearly being an integer, Python records this as a float variable

In [45]:
w = "6"
print(z+w)

26